[report]
omit =
  */site-packages/*
  */.circleci/*
  */djangorest/djangorest/*
  */djangorest/api/tests.py/*
  */djangorest/api/serializers.py/*
  */djangorest/api/apps.py/*
  *//travis/virtualenv/python3.6.3/*
